<link rel="stylesheet" href="/css/layout/nav.css">

<div class="nav" th:fragment="navbar">
  <div class="nav-left">
    <a class="logo" href="/item/list/page/1">🚀 Out of Earth</a>

    <div class="mega">
    <a href="#" class="mega-trigger">천체</a>
    <a href="#" class="mega-trigger">커뮤니티</a>

    <div class="mega-panel">
    <div class="mega-col">
      <h4>천체</h4>
      <a href="/celestial/planets" class="mega-link">행성</a>
      <a href="/celestial/nebula"  class="mega-link">성운</a>
      <a href="/celestial/stars"   class="mega-link">별</a>
    </div>

    <div class="mega-col">
      <h4>커뮤니티</h4>
      <a href="/board/qna"   class="mega-link">QnA</a>
      <a href="/board/free"  class="mega-link">자유게시판</a>
    </div>
  </div>
</div>

  </div>

  <div class="nav-right">
    <a sec:authorize="!isAuthenticated()" href="/member/login">로그인</a>

    <div sec:authorize="isAuthenticated()" class="dropdown">
      <button class="dropdown-trigger" type="button" aria-haspopup="true" aria-expanded="false">아바타</button>
      <div class="dropdown-menu" role="menu" aria-hidden="true">
        <div class="dropdown-header">내 계정</div>
        <a class="dropdown-item" href="/member/profile">프로필</a>
        <a class="dropdown-item" href="/member/">마이페이지</a>
        <form action="/member/logout/jwt" method="post">
          <button type="submit" class="dropdown-item">로그아웃</button>
        </form>
      </div>
    </div>
  </div>

  <script defer src="/js/layout/nav.js"></script>
</div>
